/* CSS Document */

body {
	background-image: url("nature.jpg");
	background-position:center;
	background-repeat: no-repeat;
	
}

#header {
	background: rgb(204,204,204,0.5);
	text-align:center;
}


nav {
	border-radius: 25px ;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, .4); 
	border: 1px solid; 
	margin: 1px;
	padding: .3em ;
	height: 35px;
	width: auto ;
	text-align: center;
}


form {
	padding: .3em ;
	width: 400px;
	background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, .4); 
	border: 2px medium;
	border-radius: 25px ;
	 

}

a {
	display: inline-block ;
	font-size: 30px ;
}


section > p {
	float:left;
	width: 250px ;
	margin: 5px ;
	padding: 1em ;
	border-radius: 25px ; 
	background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, .4); 
}
	

fieldset {
	border: 0px ;
}

footer {
	margin-top: 250px ;
	border: 1px solid; 
	background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, .4); 
	height: 25px ;
	width: auto ;
	clear:both ;
	border-radius: 25px ;
	text-align:center;
}
